<!-- this page is called after the password is changed -->
<!-- it will send you to the student data page -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <title>Passwort geändert</title>
    <div th:replace="/fragments :: head"></div>
</head>
<body>
<h1 class="title">Passwort wurde geändert</h1>
<main>
    <div th:replace="/fragments :: header"></div>
    <form th:if="${true}" method="get" th:action="@{/grademanager/student}" th:object="${student}">
        <input type="submit" value="Weiter"/>
    </form>
</main>
<div th:replace="/fragments :: footer"></div>
</body>
</html>