<!-- this page is called after the student data page to edit the student -->
<!-- it shows a form with the existing data to edit -->
<!-- it will send you to the student to check the data -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <title>Bearbeiten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments :: head"></div>
</head>
<body>
<h1 class="title">Kontaktdaten bearbeiten</h1>
<header th:include="/fragments :: header"></header>
<main>
    <form method="post" th:action="@{/grademanager/student/check}" th:object="${student}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{city.id}"/>
        <label for="login">Username</label><input type="text" id="login" name="login" th:field="*{login}"
                                                  required/><br/>
        <label for="firstname">Voranme</label><input type="text" id="firstname" name="firstname" th:field="*{firstname}"
                                                     required/><br/>
        <label for="familyname">Nachname</label><input type="text" id="familyname" name="familyname"
                                                       th:field="*{familyname}" required/><br/>
        <label for="street">Strasse</label><input type="text" id="street" name="street" th:field="*{street}"
                                                  required/><br/>
        <label for="city">PLZ, Ort</label><input type="number" id="zip" name="zip" th:field="*{city.zip}" min="1000" max="9999" required/><input
            type="text" id="city" name="city" th:field="*{city.name}" required/><br/>
        <label for="direction">Richtung</label>
        <select id="direction" th:field="*{direction}">
            <option th:each="d : ${directionList}" th:value="${d}" th:text="${d}"></option>
        </select><br/>
        <input type="hidden" th:field="*{password}"/>
        <select id="deactivated" th:field="*{deactivated}" class="hidden">
            <option th:each="b : ${boolList}" th:value="${b}" th:text="${b}"></option>
        </select><br/>
        <select id="deactivated" th:field="*{city.deactivated}" class="hidden">
            <option th:each="b : ${boolList}" th:value="${b}" th:text="${b}"></option>
        </select><br/>
        <input type="submit" value="Ändern"/>
    </form>
    <h1>Passwort ändern</h1>
    <form method="post" th:action="@{/grademanager/password/check}" th:object="${student}" class="pass">
        <input type="hidden" th:field="*{id}" name="id"/>
        <label for="password1">Passwort</label><input type="password" id="password1" name="password"
                                                     minlength="6" onkeyup="same()" required/><br>
        <label for="password2">Passwort wdh.</label><input type="password" id="password2" name="password2"
                                                                  onkeyup="same()" required/><br>
        <p id="help" class="hidden">Passwörter müssen übereinstimmen</p>
        <!--        <input type="hidden" th:field="*{login}" />-->
        <!--        <input type="hidden" th:field="*{firstname}" />-->
        <!--        <input type="hidden" th:field="*{familyname}" />-->
        <!--        <input type="hidden" th:field="*{street}" />-->
        <!--        <input type="hidden" th:field="*{city.zip}" />-->
        <!--        <input type="hidden" th:field="*{city.name}" />-->
        <!--        <input type="hidden" th:field="*{direction}"/>-->
        <!--        <input type="hidden" th:field="*{grades}"/>-->
        <!--        <input type="hidden" th:field="*{modules}"/>-->
        <!--        <select th:field="*{deactivated}" class="hidden">-->
        <!--            <option th:each="b : ${boolList}" th:value="${b}" th:text="${b}"></option>-->
        <!--        </select>-->
        <!--        <select th:field="*{city.deactivated}" class="hidden">-->
        <!--            <option th:each="b : ${boolList}" th:value="${b}" th:text="${b}"></option>-->
        <!--        </select>-->
        <input type="submit" value="Ändern" id="passChange"/>
    </form>
</main>
<div th:replace="/fragments :: footer"></div>
</body>
</html>