<!-- this page is called after the main module page see the containing exams or after the checking of edited exam data -->
<!-- it shows a table with all exams of the module and its attributes -->
<!-- it could make new exam, edit exam or delete exam -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <title>Prüfungen des Modules</title>
    <div th:replace="/fragments :: head"></div>
</head>
<body>
<h1 class="title">Prüfungen des Modules <div th:text="${number}"></div></h1>
<header th:include="/fragments :: header"></header>
<main>
    <form method="get" th:action="@{/grademanager/exam/add}">
        <input type="submit" value="Neue Note">
    </form>
<!--  Archiv/Wiederherstellene Button  -->
    <form method="get" th:action="@{/grademanager/module}">
        <input type="submit" value="Zurück">
    </form>
    <table>
        <tr>
            <th>Prüfungstyp</th>
            <th>Status</th>
            <th>Note</th>
            <th>Gewicht</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="e : ${examList}" th:if='${e.getDeactivated().toString().equals("Nein")}'>
            <td th:text="${e.getType()}"></td>
            <td th:text="${e.getState()}"></td>
            <td style="color: green;font-weight: bold;" th:if='${e.grade.getColor().toString().equals("Gruen")}' th:text="${e.grade.getValue()}"></td>
            <td style="color: black;font-weight: bold;" th:if='${e.grade.getColor().toString().equals("Schwarz")}' th:text="${e.grade.getValue()}"></td>
            <td style="color: red;font-weight: bold;" th:if='${e.grade.getColor().toString().equals("Rot")}' th:text="${e.grade.getValue()}"></td>
            <td th:text="${e.grade.getWeight()}"></td>
            <td>
                <form method="get" th:action="@{/grademanager/exam/edit}">
                    <input type="hidden" th:name="id" th:value="${e.getId()}">
                    <input type="submit" value="Bearbeiten">
                </form>
            </td>
            <td>
                <form method="get" th:action="@{/grademanager/exam/del}">
                    <input type="hidden" th:name="id" th:value="${e.getId()}">
                    <input type="submit" value="Löschen">
                </form>
            </td>
        </tr>
    </table>
</main>
<div th:replace="/fragments :: footer"></div>
</body>
</html>